<h1> <%= @car.info %> </h1>
<hr />

<ul>
  <li>Year: <%= @car.year %> </li>
  <li>Engine: <%= @car.engine %> </li>
  <li>Number Of Doors: <%= @car.number_of_doors %> </li>
  <li>Runs: <%= @car.runs ? 'Yes' : 'No' %> </li>
</ul>

<% if current_user.id == @car.user_id %>
  <div>
    <%= link_to 'Edit', edit_car_path(@car) %> |
    <%= link_to 'Delete', car_path(@car), method: :delete, data: {confirm: 'Really Delete?'} %>
  </div>
<% end %>

<%= link_to 'All Cars', cars_path %>
